*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(Fondo.png);
}
.FormularioP{
    width: 500px;
    background: rgb(124, 22, 22);
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}
.FormularioP h1 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
}
.Campos{
    width: 100%;
    background: rgb(0, 0, 0) ;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
}
.FormularioP p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.Boto {
    width: 100%;
    background: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    color: white;
    margin: 12px 0;
    font-size: 18px;
}
